.container{
    .row.justify-content-center{
        height: 100vh;
        align-items: center;
    }
    div.form-control-position{
        position: absolute;
        top: 0;
        width: 3.16667rem;
        line-height: 3rem;
        text-align: center;
    }
    .lnr{
        font-size: 1rem;
   color: #fff;
   font-weight: 600;
   }
}
@media (max-width: 425px){
    .card{
        height: 100vh !important;
        padding-top: 40px;        
    }   
}